<!doctype html>
<html lang="en">
  <head>
    <title>Recipes</title>
  </head>
  <body>
      <a href="{% url 'home' %}">Home</a><br />
      <a href="{% url 'recipes:add' %}">Add a Recipe</a><br />
      <a href="{% url 'recipes:delete' %}">Delete a Recipe</a><br />
      <a href="{% url 'accounts:login' %}">Sign In</a><br />
      <a href="{% url 'accounts:signup' %}">Sign up</a><br />

      <h2>Latest recipes</h2>
      <!-- some hybrid of python for loop, to iterate over the posts-->
      {% for recipe in recipes.all %}
      {{ recipe.id }} : <a href="{% url 'recipes:recipe_details' recipe.id %}">{{ recipe.name }}</a>
      <br />
      Added on {{ recipe.add_date }} by {{ recipe.author.username }}
      <br />
      {{ recipe.content }}
      <br />
      <br />
      {% endfor %}
  </body>
</html>
